@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700;800&family=Source+Sans+3:wght@400;700&display=swap");

/* ------------------- */
/* CSS Variables       */
/* ------------------- */

:root {
  --clr-primary: #fbce18;
  --clr-secondary: #fdc9d3;
  --clr-black: #454545;
  --clr-white: #fffff5;

  --text-display: "Montserrat", sans-serif;
  --text-body: "Source Sans 3", sans-serif;

  --fs-heading-1: 5.5rem; /* 55px */
  --fs-heading-2: 4rem; /* 40px */
  --fs-heading-3: 3.5rem; /* 35px */
  --fs-heading-4: 3rem; /* 30px */
  --fs-subheading: 1.8rem; /* 18px */
  --fs-body: 1.6rem; /* 16px */

  --fw-extra-bold: 800;
  --fw-bold: 700;
  --fw-regular: 400;

  --border-radius: 10px;
  --box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  --transition-duration: 0.3s;
}

/* ------------------- */
/* CSS Reset           */
/* ------------------- */

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

input,
button,
textarea,
select {
  border: none;
  background: none;
  font: inherit;
  color: inherit;
}

/* Remove animations for users who have turned them off */
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* used to disable transitions on window resize */
.disable-transitions * {
  transition: none !important;
}

/* ------------------- */
/* Typography          */
/* ------------------- */

html {
  /* Makes calculating REM units easier */
  font-size: 62.5%;
}

body {
  color: var(--clr-black);
  font-family: var(--text-body);
  font-size: var(--fs-body);
}

p {
  font-weight: var(--fw-regular);
  line-height: 1.5;
}

.heading-1 {
  font-size: var(--fs-heading-1);
  font-weight: var(--fw-extra-bold);
  letter-spacing: -4px;
}

.heading-2 {
  font-size: var(--fs-heading-2);
  font-weight: var(--fw-extra-bold);
  letter-spacing: -3px;
}

.heading-3 {
  font-size: var(--fs-heading-3);
  font-weight: var(--fw-extra-bold);
  letter-spacing: -2px;
}

.heading-4 {
  font-size: var(--fs-heading-4);
  font-weight: var(--fw-bold);
  letter-spacing: -1.5px;
}

.subheading {
  font-size: var(--fs-subheading);
  font-weight: var(--fw-regular);
  letter-spacing: 2px;
}

.text-highlight {
  color: var(--clr-white);
}

/* ------------------- */
/* Components          */
/* ------------------- */

/* layout components */
.container {
  display: flex;
  flex-direction: column;
  max-width: 1084px;
  padding-inline: 20px;
  margin-inline: auto;
}

.section-header {
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: center;
  align-items: center;
  max-width: 700px;
}

/* button components */
.btn {
  display: inline-block;
  font-size: 1.6rem;
  font-weight: 800;
  padding-block: 10px;
  padding-inline: 40px;
  cursor: pointer;
  transition: all 300ms;
}

.btn:active {
  transform: scale(0.9);
}

.btn-regular {
  background-color: var(--clr-primary);
}

.btn-regular:hover {
  background-color: var(--clr-secondary);
}

.btn-inverted {
  color: var(--clr-white);
  background-color: var(--clr-black);
}

.btn-inverted:hover {
  color: var(--clr-black);
  background-color: var(--clr-primary);
}

.btn-cta {
  font-size: var(--fs-heading-2);
  font-weight: var(--fw-bold);
  background-color: var(--clr-primary);
  padding-block: 16px;
  padding-inline: 90px;
}

.btn-cta:hover {
  background-color: var(--clr-secondary);
}

/* navbar component */
nav {
  height: 100%;
}

.navbar {
  position: relative;
  display: flex;
  flex-direction: column;
}

.navbar-logo {
  position: absolute;
  display: none;
  width: 120px;
}

.navbar-menu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(251, 206, 24, 0.9);
  backdrop-filter: blur(5px);
  transform: translateY(0%);
  transition: transform 300ms ease;
  z-index: 100;
}

.navbar-menu-hidden {
  transform: translateY(-100%);
}

.navbar-menu-close-btn {
  position: absolute;
  top: 30px;
  right: 30px;
  transition: all 300ms ease;
  cursor: pointer;
}

.navbar-menu-close-btn:hover {
  transform: scale(1.2);
}

.navbar-menu-close-btn:active {
  transform: scale(0.9);
}

.navbar-menu-list {
  font-size: var(--fs-heading-2);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding-top: 50px;
  height: 100%;
}

.navbar-menu-link {
  position: relative;
}

.navbar-menu-link:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px;
  background-color: var(--clr-black);
  height: 1px;
  width: 0;
  transition: width 300ms;
}

.navbar-menu-link:hover:after {
  width: 100%;
}

.navbar-hamburger {
  margin-inline: auto;
  transition: all 300ms ease;
  cursor: pointer;
}

.navbar-hamburger:hover {
  transform: scale(1.1);
}

.navbar-hamburger:active {
  transform: scale(0.9);
}

.contact-btn {
  display: none;
  box-shadow: var(--box-shadow);
}

.navbar.sticky-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  background: rgba(251, 206, 24, 0.9);
  box-shadow: var(--box-shadow);
}

@media screen and (min-width: 800px) {
  .navbar {
    justify-content: center;
    padding-block: 20px;
  }

  .navbar-menu {
    position: relative;
    background: transparent;
    backdrop-filter: none;
    transform: translate(0%);
  }

  .navbar-menu-list {
    font-size: var(--fs-body);
    flex-direction: row;
    align-items: center;
    margin-inline: auto;
    width: 700px;
    height: auto;
    padding-top: 0;
  }

  .navbar-hamburger,
  .navbar-menu-close-btn {
    display: none;
  }

  .contact-btn {
    display: inline-block;
  }

  /* when sticky nav is active */
  .navbar.sticky-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-inline: 50px;
  }

  .navbar.sticky-nav .navbar-menu {
    position: relative;
    background: transparent;
    margin-left: auto;
    backdrop-filter: none;
  }

  .navbar.sticky-nav .navbar-menu-list {
    justify-content: flex-end;
    gap: 20px;
  }

  .navbar.sticky-nav .navbar-logo {
    display: block;
    left: 20px;
  }
}

/* ------------------- */
/* Hero Section        */
/* ------------------- */

#hero-section {
  position: relative;
  background: url("images/background/hero-background.jpg") center/cover
    no-repeat;
  height: 100vh;
  margin-bottom: 80px;
}

.hero-background-mask {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.spacefruit-logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -90%);
  transition: all 300ms ease;
}

@media screen and (min-width: 800px) {
  .spacefruit-logo {
    transform: translate(-53%, -90%);
  }
}

/* ------------------- */
/* Services Section    */
/* ------------------- */

#services-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  padding-block: 100px;
}

.service-card-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  align-content: center;
  gap: 20px;
  align-items: center;
}

.service-card {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  background: var(--clr-primary);
  padding-block: 50px;
  padding-inline: 20px;
  max-width: 330px;
  border-radius: var(--border-radius);
}

.service-card-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 100%;
}

.service-card hr {
  background-color: var(--clr-black);
  height: 1px;
  border: 0;
  width: 80%;
  border-radius: var(--border-radius);
}

/* ------------------- */
/* Portfolio Section   */
/* ------------------- */

#portfolio-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  padding-block: 100px;
}

.portfolio-cards-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}

.portfolio-card {
  background: var(--clr-primary);
  border-radius: var(--border-radius);
  max-width: 400px;
  height: 520px;
  overflow: hidden;
}

.portfolio-card-header {
  margin-bottom: 10px;
}

.portfolio-card-title {
  font-size: var(--fs-heading-2);
  font-weight: var(--fw-extra-bold);
  letter-spacing: -2px;
}

.portfolio-card-subtitle {
  font-size: var(--fs-heading-4);
  font-weight: var(--fw-bold);
  letter-spacing: -1px;
}

.portfolio-card-img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.portfolio-card-text {
  padding: 20px;
  text-align: center;
}

@media screen and (min-width: 600px) {
  .portfolio-card {
    display: flex;
    align-items: center;
    max-width: 100%;
    height: 350px;
  }

  .portfolio-card-reversed {
    flex-direction: row-reverse;
  }

  .portfolio-card-img {
    width: 40%;
    height: 100%;
  }

  .portfolio-card-header {
    margin-bottom: 20px;
  }

  .portfolio-card-text {
    padding: 30px;
    text-align: left;
  }
}

@media screen and (min-width: 800px) {
  .portfolio-card-img {
    width: 50%;
  }
}

/* ------------------- */
/* Clients Section     */
/* ------------------- */

#clients-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  padding-block: 100px;
}

.clients-logo-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
}

/* --------------------- */
/* Testimonials Section  */
/* --------------------- */

#testimonials-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  padding-block: 100px;
}

.testimonials {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.testimonial-container {
  position: relative;
}

.testimonial {
  max-width: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--clr-primary);
  padding-block: 30px;
  padding-inline: 50px;
  border-radius: var(--border-radius);
  gap: 20px;
  text-align: center;
  display: none;
}

.testimonial-header-section {
  text-align: center;
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.reveal-testimonial {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.profile-img {
  width: 120px;
  height: 120px;
}

.quotation-mark {
  display: none;
}

.dot-grid {
  display: none;
  position: absolute;
  top: -34px;
  right: -44px;
  width: 120px;
  height: 120px;
}

.l-shape {
  display: none;
  position: absolute;
  left: -50px;
  bottom: -50px;
  width: 120px;
  height: 120px;
}

.pagination-dots {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 400px;
}

.pagination-dot {
  width: 10px;
  height: 10px;
  background: var(--clr-black);
  border-radius: 50%;
  opacity: 0.3;
  cursor: pointer;
  transition: all 300ms ease;
}

.active-dot {
  opacity: 1;
}

.pagination-left-arrow,
.pagination-right-arrow {
  cursor: pointer;
  transition: all 300ms ease;
}

.pagination-left-arrow:hover,
.pagination-right-arrow:hover {
  transform: scale(1.2);
}

.pagination-left-arrow:active,
.pagination-right-arrow:active {
  transform: scale(0.9);
}

@media screen and (min-width: 700px) {
  .testimonial {
    padding-block: 50px;
    text-align: left;
    height: 100%;
  }

  .testimonial-header-section {
    text-align: left;
    flex-direction: row;
    gap: 30px;
  }

  .quotation-mark {
    display: block;
    position: absolute;
    top: 30px;
    right: 50px;
  }
}

@media screen and (min-width: 850px) {
  .dot-grid {
    display: block;
    position: absolute;
    z-index: -1;
  }

  .l-shape {
    display: block;
    position: absolute;
  }
}

/* ------------------- */
/* Team Section        */
/* ------------------- */

#team-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  padding-block: 100px;
}

.team-cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
}

.team-member-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  width: 300px;
}

.team-member-card-header {
  text-align: center;
}

.team-member-card hr {
  width: 80%;
}

/* ------------------- */
/* CTA Section         */
/* ------------------- */

#cta-section {
  position: relative;
  background: url("images/footer/landscape.jpg") bottom/cover no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-block: 80px;
  padding-inline: 20px;
}

.ufo-img {
  width: 80%;
  max-width: 560px;
  transform: translateY(-10%);
}

#cta-section .btn-cta {
  font-size: var(--fs-heading-3);
  padding-block: 8px;
  padding-inline: 60px;
  box-shadow: var(--box-shadow);
}

@media screen and (min-width: 800px) {
  #cta-section .btn-cta {
    padding-block: 16px;
    padding-inline: 90px;
    transform: translateY(-50%);
  }

  #cta-section .btn-cta:active {
    transform: translateY(-50%) scale(0.9);
  }
}

.footer-background-mask {
  position: absolute;
  bottom: -10px;
  width: 100%;
}

/* ------------------- */
/* Footer Section      */
/* ------------------- */

footer {
  background: var(--clr-primary);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 20px;
  padding: 20px;
}

.social-media-icons-container {
  display: flex;
  justify-content: space-between;
  width: 80%;
  max-width: 500px;
}

/* ------------------- */
/* Form Modal          */
/* ------------------- */

.backdrop {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  backdrop-filter: brightness(80%) blur(3px);
  transition: all 300ms ease;
  z-index: 100;
}

.backdrop-hidden {
  visibility: hidden;
  opacity: 0;
}

.modal {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 90%;
  max-width: 600px;
  height: 90%;
  background: var(--clr-white);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  transform: translateY(0%);
  transition: all 300ms ease;
  overflow: hidden;
}

.modal-hidden {
  transform: translateY(10%);
  opacity: 0;
}

.modal-img {
  display: flex;
  width: 100%;
  height: 30%;
  object-fit: cover;
  object-position: 50% 65%;
}

.modal-content {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-block: 30px;
  padding-inline: 50px;
  overflow: auto;
}

.modal-content .section-header-icon {
  display: none;
}

.modal-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  max-width: 400px;
}

.form-label {
  display: flex;
  flex-direction: column;
}

.textbox-label {
  gap: 10px;
}

.form-input {
  padding: 5px;
  border-bottom: 1px solid var(--clr-black);
}

.form-textbox {
  padding: 10px;
  border: 1px solid var(--clr-black);
  border-radius: var(--border-radius);
}

.form-message {
  position: absolute;
  top: 50%;
  left: 50%;
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  transform: translate(-50%, -50%);
  opacity: 1;
  transition: all 700ms ease;
  z-index: 1000;
}

.hide-modal-element {
  visibility: hidden;
  opacity: 0;
  transform: translate(-50%, -20%);
}

.modal-close-btn {
  position: absolute;
  top: 15px;
  right: 15px;
  transition: all 300ms ease;
  cursor: pointer;
}

.modal-close-btn:hover {
  transform: scale(1.2);
}

.modal-close-btn:active {
  transform: scale(0.9);
}

@media screen and (min-width: 800px) {
  .modal {
    flex-direction: row;
    max-width: 900px;
    height: 90%;
    max-height: 600px;
  }

  .modal-img {
    display: flex;
    width: 40%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 65%;
  }

  .modal-content {
    width: 100%;
    padding: 50px;
    gap: 10px;
  }

  .modal-content .section-header-icon {
    display: block;
  }

  .modal-form {
    gap: 30px;
  }

  .modal-close-btn {
    top: 20px;
    right: 20px;
  }
}

@media (max-height: 600px) {
  .modal {
    justify-content: center;
    height: 100%;
  }

  .modal-img {
    display: none;
  }
}

/* ----------------*/
/* 404 Page        */
/* ----------------*/

.page-404-content {
  background: url("../images/background/404-background.webp") center/cover
    no-repeat;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.page-404-content .section-header {
  color: var(--clr-white);
  margin-top: 100px;
  margin-bottom: 20px;
}

.page-404-content .btn {
  box-shadow: var(--box-shadow);
}
